h1 {
	text-align: center;
	font-weight: bold;
	font-size: 32pt;
}

body {
	text-align: center;
	font-size: 20pt;
	line-height: 2;
}

.rotated-image {
    /* Rotate the image 90 degrees clockwise */
    transform: rotate(90deg);
	margin-left: 50px;
	margin-top: none;
	margin-bottom: none;
  }